<%- include('./includes/head.ejs') %>
   
    </head>

    <body>
      

            <main>
                <% if (expense.length > 0) { %>
                    <div class="grid">
                        <% for (let ele of expense) { %>
                            <article class="card expense-item">
                                <header class="card__header">
                                    <h1 class="expense__title">
                                        <%= ele.dataValues.expense %>
                                    </h1>
                                </header>

                                <div class="card__content">
                                    <h2 class="expense__price">$
                                        <%= ele.dataValues.amount %>
                                    </h2>
                                    <p class="expense__description">
                                        <%= ele.dataValues.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/expense/edit-expense/<%= expense.id %>?edit=true" class="btn">Edit</a>
                                    <form action="/expense/delete-expense" method="POST">
                                        <input type="hidden" value="<%= expense.id %>" name="expenseId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No expenses Found!</h1>
                        <% } %>
            </main>
            <%- include('./includes/end.ejs') %>